.pixelBackground {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.row {
  height: 10vh;
  width: 100vw;
  display: flex;
}

.block {
  height: 100%;
  width: 10vw;
  background-color: yellow;
}
